body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Fira Code', monospace;
    background-color: #000000;
    color: #ffffff;
}

h1 {
    color: #7c70ff;
}

input {
    font-family: 'Fira Code', monospace;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
    max-width: 800px;
    box-sizing: border-box;
    height: 100vh;
    background-color: #000000;
}

#submit-button {
    font-weight: bold;
    color: #7c70ff;
}

.message-area {
    width: 100%;
    height: 400px;
    overflow-y: scroll;
    border: 1px solid #7c70ff;
    padding: 0 10px;
    background-color: #0f1217;
    font-size: 14px;
    line-height: 1.5;
    scrollbar-width: none;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
}

.message-display::-webkit-scrollbar {
    display: none;
}

.message {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #7c70ff;
}

.message.draft {
    border-bottom: none;
    border-top: 1px solid #7c70ff;
}

[contenteditable]:active,
[contenteditable]:focus {
    border: none;
    outline: none;
}

#username-input,
#message-input {
    text-decoration: underline;
    color: #ffffff;
}

.message-content {
    flex: 1;
}

.message-timestamp {
    color: #cccccc;
    margin-left: 10px;
    white-space: nowrap;
}

.message-author {
    font-weight: bold;
}

.ribbon {
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.ribbon a {
    position: absolute;
    display: block;
    width: 200px;
    padding: 10px 0;
    background-color: #7c70ff;
    color: #fff;
    text-align: center;
    text-decoration: none;
    transform: rotate(45deg);
    top: 30px;
    right: -50px;
    font-size: 14px;
    font-weight: bold;
}

.message-form-container {
    width: 100%;
    background-color: #fff;
    padding: 10px;
    border-top: 1px solid #ccc;
}

.message-form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.message-form .form-group {
    margin-bottom: 0;
    flex: 1;
}

.message-form .form-group.col-auto {
    flex: 0;
}

.joining-span {
    color: #cccccc;
}

.tooltip-inner {
    background-color: #ffffff;
    color: #000000;
}

.bs-tooltip-top .arrow::before {
    border-top-color: #ffffff;
}

.bs-tooltip-bottom .arrow::before {
    border-bottom-color: #ffffff;
}